html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #cdcccc;
    overflow: auto;
    padding-right: 0 !important;
}

.full-content {
    /*min-width: 1024px;*/
    margin: 0 auto;
    position: relative;
}

.container-fluid {
    margin-top: 20px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    float: right;
}

.navbar-nav li {
    width: 131px;
    text-align: center;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
    border-left: 1px solid #999;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cdcccc;
    outline: none;
}

.nav>li>a:hover {
    background-color: #444 !important;
    color: #E5D5D5;
}

.navbar {
    border-radius: 0px;
    background-color: #343433;
    background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
    border: 1px solid #999;
    min-height: 42px;
    border-left: 1px solid #999;
}

.back-btn {
    height: 22px;
    float: left;
    margin: -6px 0px 0px 11px;
}

.logo {
    margin: 5px 0px 5px 5px;
    float: left;
}

.navbar-collapse collapse in {
    width: 100%;
    overflow: hidden;
}

.navbar-brand {
    height: 40px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
	margin-left: -20px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}

#placeholder {
    width:700px;
    height:420px;
    margin: 0 auto;
}

#laser_off,
#ch1_off,
#ch2_off {
    color: #F00;
}

#laser_on,
#ch1_on,
#ch2_on {
    display: none;
    color: #0F0;
}

#laser_state {
    margin-top: 20px;
    padding: 10px;
}
